/*
 * Nextflow configuration file
 */

// Global default params
params {
    // Input/Output
    reads = "data/*_R{1,2}.fastq.gz"
    outdir = "results"
    
    // Cutadapt primer filtering parameters
    primer = "^NNNNNNNNNNNNNNNNNCGC"  // 17 random bases (UMI) + CGC
    error_rate = 0.1
    min_length = 40
    quality_cutoff = 20
    
    // BWA mapping parameters
    reference = "data/reference/hg19_chr8.fa"
    
    // Resource defaults
    max_memory = '8.GB'
    max_cpus = 4
    max_time = '24.h'
}

// Process configuration
process {
    // Default resources for all processes
    cpus = 2
    memory = '4.GB'
    time = '2.h'
    
    // Process-specific resources
    withName: CUTADAPT {
        cpus = 4
        memory = '8.GB'
        time = '4.h'
    }
    
    withName: TRIM_AND_TRUNCATE {
        cpus = 2
        memory = '4.GB'
        time = '2.h'
    }
    
    withName: BWA_MAP {
        cpus = 4
        memory = '8.GB'
        time = '4.h'
    }
    
    withName: EXTRACT_WINDOWS {
        cpus = 2
        memory = '4.GB'
        time = '2.h'
    }
    
    withName: MATCH_GUIDES {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process {
            withName: CUTADAPT {
                container = 'quay.io/biocontainers/cutadapt:4.6--py39hf95cd2a_1'
            }
            withName: TRIM_AND_TRUNCATE {
                container = 'quay.io/biocontainers/cutadapt:4.6--py39hf95cd2a_1'
            }
            withName: BWA_MAP {
                container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:66ed1b38d280722529bb8a0167b0cf02f8a0b488-0'
            }
            withName: EXTRACT_WINDOWS {
                container = 'condaforge/mambaforge:latest'
            }
            withName: MATCH_GUIDES {
                container = 'python:3.9'
            }
        }
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withName: CUTADAPT {
                container = 'https://depot.galaxyproject.org/singularity/cutadapt:4.6--py39hf95cd2a_1'
            }
            withName: TRIM_AND_TRUNCATE {
                container = 'https://depot.galaxyproject.org/singularity/cutadapt:4.6--py39hf95cd2a_1'
            }
            withName: BWA_MAP {
                container = 'https://depot.galaxyproject.org/singularity/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:66ed1b38d280722529bb8a0167b0cf02f8a0b488-0'
            }
            withName: EXTRACT_WINDOWS {
                container = 'https://depot.galaxyproject.org/singularity/mulled-v2-b6ad55eb2b27d52e5bafcb4dbe0d2ec128c43086:f3c45b0e4f1daa3e4b58b8f64e1e36e8c0bb1f7b-0'
            }
        }
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}

// Report configuration
report {
    enabled = true
    file = "${params.outdir}/reports/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/reports/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/reports/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/reports/dag.html"
}

// Manifest
manifest {
    name = 'TTISS Pipeline'
    author = 'Your Name'
    description = 'Simple Cutadapt adapter trimming pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.0.0'
    version = '1.0.0'
}
